# Dependencias de Node (pesadas y innecesarias en el repositorio)
node_modules/

# Archivos de configuración y variables de entorno (claves de API, credenciales DB)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales y del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones del editor de código
.vscode/
.idea/